@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_tab_bd">
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    粤语常用字
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>[粤语]&nbsp;<span>佢</span></div>
                    <div>[音标]&nbsp;<span>keoi5</span></div>
                    <div>[解释]&nbsp;<span>他或她</span></div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>[粤语]&nbsp;<span>啲</span></div>
                    <div>[音标]&nbsp;<span>di1</span></div>
                    <div>[解释]&nbsp;<span>一些，少量，一般写做D</span></div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>[粤语]&nbsp;<span>咁</span></div>
                    <div>[音标]&nbsp;<span>gam3</span></div>
                    <div>[解释]&nbsp;<span>这样，这么</span></div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem2");
    }
</script>
