@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_tab_bd">
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    鼻音
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>m</div>
                    <div>例：唔(m4)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>ng</div>
                    <div>例：吴(ng4)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem2");
    }
</script>
