@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_tab_bd">
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    韵尾
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>p</div>
                    <div>例：湿(sap1)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>t</div>
                    <div>例：失(sat1)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>k</div>
                    <div>例：塞(sak3)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>m</div>
                    <div>例：心(sam1)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>n</div>
                    <div>例：新(san1)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>ng</div>
                    <div>例：生(sang1)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>i</div>
                    <div>例：西(sai1)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>u</div>
                    <div>例：收(sau1)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem2");
    }
</script>
