@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_tab_bd">
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>韵母</div>
                    <div>韵母可以只有韵腹，或由韵腹+韵尾组成，具体搭配如下：</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    i,ip,it,ik,im,in,ing,iu
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    yu,yut,yun
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    u,ut,uk,un,ung,ui
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    e,ek,eng,ei
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    eot,eon,eoi
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    o,ot,ok,on,ong,oi,ou
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    ap,at,ak,am,an,ang,ai,au
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    aa,aap,aat,aak,aam,aan,aang,aai,aau
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem2");
    }
</script>