@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">字词</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id="queryinput" type="text" placeholder="请输入要翻译的字词（最多20字）" pattern="*" class="weui_input" value="@ViewBag.input">
        </div>
    </div>
</div>
<div class="weui_btn_area">
    <a id="querya1" href="javascript:" class="weui_btn weui_btn_primary" onclick="tryquery(this)">查询</a>
</div>
<div id="resultdiv1"></div>


<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem1");
        var input = '@ViewBag.input';
        if (input) {
            $("#queryinput").val(input);
            var sender = document.getElementById("querya1"); 
            tryquery(sender);
        }
    }

    function tryquery(sender) {
        var input = $("#queryinput").val();
        if (!input) {
            weuialert("请输入要翻译的字词（最多20字）");
            return;
        }

        $(sender).html('<img src="@Url.Content("~/Assets/Images/loading.gif")" />&nbsp;查询');
        $.ajax({
            url: '@Url.Content("~/Home/GetIndex")',
            type: 'GET',
            data: { input: encodeURI(input) },
            complete: function (xhr, status) {
                $(sender).html("查询");
                if (status != "success") {
                    weuialert("网络连接失败！");
                    return;
                }

                $("#resultdiv1").html(xhr.responseText);
            }
        });
    }
</script>
