@model cantonesedict.uimoe.com.ViewModels.Home.LyricResultVM
@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<style type="text/css">
    .canlyric {
        color: #555555;
    }

    .chnlyric {
        color: #22b14c;
    }
</style>

<div class="weui_cells_title" style="text-align:center;">
    <span>@Model.Title</span>&nbsp;-&nbsp;<span>@Model.Artists</span>
</div>
<div class="weui_cells_title" style="text-align:center;">
    <input checked="checked" id="showcanlyriccheck" onclick="showcanlyricchanged(this)" type="checkbox" />&nbsp;<label for="showcanlyriccheck">显示粤语歌词</label>
</div>
<div class="weui_cells weui_cells_access">
    @if (Model.Lines == null || Model.Lines.Count == 0)
    {
        <a href="javascript:void(0)" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>未找到相关记录</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    }
    else
    {
        foreach (var item in Model.Lines)
        {
            <a href="javascript:void(0)" class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>
                        <div class="chnlyric">@item.ChnText</div>
                        <div class="canlyric">@item.CanPronounce</div>
                    </p>
                </div>
            </a>
        }
    }
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem3");
    }

    function showcanlyricchanged(sender) {
        var chk = $(sender).is(":checked");
        if (chk) {
            $(".canlyric").show();
            return;
        }

        $(".canlyric").hide();
    }
</script>
