@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_cells weui_cells_access">
    <a href="@Url.Content("~/Home/Login")" class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>@ViewBag.username</p>
        </div>
        <div class="weui_cell_ft">
        </div>
    </a>
</div>

<div class="weui_cells weui_cells_access">
    <a href="@Url.Content("~/Home/FeedbackList")" class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>我的反馈</p>
        </div>
        <div class="weui_cell_ft">
        </div>
    </a>
    <a href="@Url.Content("~/Home/ScoreList")" class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>我的积分</p>
        </div>
        <div class="weui_cell_ft">
        </div>
    </a>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem3");
    }
</script>
