@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container" style="padding-left:10px;">
        <h1>哈哈哈哈!</h1>
        <p>
            这个页面只能在手机端查看哦，
            <a target="_blank" href="http://app.flyme.cn/apps/public/detail?package_name=com.uimoe.cantonesedict">点这里下载客户端（Android）</a>
        </p>
    </div>
</div>
