@{
    Layout = "~/Views/Shared/_WithBottomAppBarLayout.cshtml";
}

<div class="weui_tab_bd">
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>不同于普通话5个音调，粤语中共有6个音调(细分则为9个)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
    <div class="weui_cells weui_cells_access">
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>1</div>
                    <div>例：夫(fu1)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>2</div>
                    <div>例：虎(fu2)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>3</div>
                    <div>例：霍(fok3)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>4</div>
                    <div>例：扶(pou4)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>5</div>
                    <div>例：妇(fu5)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
        <a href="javascript:void(0);" class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>
                    <div>6</div>
                    <div>例：父(fu6)</div>
                </p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        showhighlight("appbaritem2");
    }
</script>
