<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>哈哈MX精选</title>
    <link href="@Url.Content("~/Assets/reset.css")" rel="stylesheet" />
</head>
<body style="background-color:#e7e7e7;">
    <div id="container"></div>
    @RenderBody()
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        var view = {
            newlist: {
                page: 1,
                pagesize: 10,
                show: function (sender) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Content("~/Home/GetNewList")',
                        data: { page: view.newlist.page, pagesize: view.newlist.pagesize },
                        dataType: 'html',
                        complete: function (xhr, status) {
                            if (status != "success") {
                                alert("网络好像有点问题哦");
                                return;
                            }

                            view.newlist.page += 1;
                            var html = $("#container").html();
                            html += xhr.responseText;
                            $("#container").html(html);
                        }
                    });
                }
            }
        };
    </script>
    @RenderSection("scripts", false)
</body>
</html>