<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
@RenderSection("scripts", false)
