@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <style type="text/css">
        .mynavbar {
            position: fixed;
            height: 40px;
            line-height: 40px;
            background-color: #f7f7fa;
            color: #22b14c;
            width: 100%;
            left: 0;
            top: 0;
        }

            .mynavbar li {
                list-style: none;
                display: inline;
            }
    </style>
}

@RenderSection("styles", required: false)

<div class="mynavbar">
    <div style="width:1000px;margin:0 auto;">
        <ul>
            <li>
                <a href="@Url.Content("~/Home/Index")">柚萌 - design &amp; develop</a>
            </li>
        </ul>
    </div>
</div>

<div style="position:fixed;width:100%;top:40px;">
    <div style="width:1000px;margin:0 auto;">
        @RenderBody()
    </div>
</div>

@RenderSection("scripts", required: false)
