@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <style type="text/css">
        .mynavbar {
            height: 40px;
            line-height: 40px;
            background-color: #f7f7fa;
            color: #22b14c;
            width: 100%;
            left: 0;
            top: 0;
        }

            .mynavbar li {
                list-style: none;
                display: inline;
            }
    </style>
}

@RenderSection("styles", required: false)

<div class="mynavbar">
    <div style="width:1000px;margin:0 auto;">
        <div style="float:left;">
            <a href="@Url.Content("~/Home/Index")">柚萌 - design &amp; develop</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<div style="width:100%;">
    <div style="width:1000px;margin:0 auto;">
        @RenderBody()
        <div class="newline"></div>
    </div>
</div>

@RenderSection("scripts", required: false)
