@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="newline5"></div>
<div style="width:330px;margin:0 auto;">
    <div><span style="color:#ff0080;font-size:28px;">柚</span><span style="color: #00a2e8; font-size: 28px;">萌</span></div>
    <div style="color:#22b14c;">design &amp; develop</div>
</div>

<div class="newline"></div>
<div style="width: 330px; margin: 0 auto; height: 410px; border: 1px solid #d5d5d5;box-shadow:0 0 2px #d5d5d5;">
    @RenderBody()
</div>

<div style="position:fixed;left:0;bottom:0;width:100%;">
    <div class="splitter-d"></div>
    <div style="height:32px;line-height:32px;width:330px;margin:0 auto;">
        <a target="_blank" href="http://www.uimoe.com">uimoe design</a> all rights reserved.
        <a target="_blank" href="http://www.miitbeian.gov.cn">赣ICP备16000344号</a>
    </div>
</div>
