@{
    Layout = "~/Views/Shared/_WithNavigatorLayout.cshtml";
}

@section styles
{
    <style type="text/css">
        .ul1 {
            list-style: none;
            display: inline;
        }

            .ul1 li {
                float: left;
                width: 250px;
                margin-right: 5px;
                margin-bottom: 5px;
            }
    </style>
}

<div id="container1"></div>
<div class="well">来源于&nbsp;<a target="_blank" href="https://twitter.com/NASA">@@NASA</a>&nbsp;和&nbsp;<a target="_blank" href="http://weibo.com/nasawatch">@@NASA中文</a>&nbsp;，图转侵删。</div>

@section scripts
{
    <script>
        window.onload = function () {
            loaddata();
        }

        function loaddata(url, page, pagesize) {
            if (!url) {
                url = '@Url.Content("~/Home/GetIndex")';
            }

            if (!page || isNaN(page)) {
                page = 1;
            }

            if (!pagesize || isNaN(pagesize)) {
                pagesize = 10;
            }

            $.ajax({
                type: 'GET',
                url: url,
                data: { page: page, pagesize: pagesize },
                complete: function (xhr, status) {
                    if (status != "success") {
                        return;
                    }

                    $("#container1").html(xhr.responseText);
                }
            });
        }
    </script>
}
