@{
    Layout = "~/Views/Shared/_AppDetailLayout.cshtml";
    ViewBag.apptypedisplay = "Android应用";
    ViewBag.apptitle = "粤语词典";
}

@section styles
{
    <link href="@Url.Content("~/Assets/bootstrap-3.3.5-dist/css/bootstrap.min.css")" rel="stylesheet" />
}

<div class="well" style="color:#22b14c;">
    提供粤语的翻译和注音。
</div>
<button onclick="linkto('http://app.flyme.cn/apps/public/detail?package_name=com.uimoe.cantonesedict', 'newtab')" class="btn btn-success">点此下载</button>