@{
    Layout = "~/Views/Shared/_AppDetailLayout.cshtml";
    ViewBag.apptypedisplay = "网页小工具";
    ViewBag.apptitle = "缘分计算";
}

@section styles
{
    <link href="@Url.Content("~/Assets/bootstrap-3.3.5-dist/css/bootstrap.min.css")" rel="stylesheet" />
}

<form id="form1">
    <div class="form-group">
        <label style="color:#22b14c;" for="yourname">你的名字</label>
        <input class="form-control" id="yourname" name="yourname" type="text" maxlength="64" placeholder="最多可以输入64个字符" />
    </div>
    <div class="form-group">
        <label style="color:#22b14c;" for="othername">TA的名字</label>
        <input class="form-control" id="othername" name="othername" type="text" maxlength="64" placeholder="最多可以输入64个字符" />
    </div>
</form>
<button class="btn btn-success btn-block" onclick="trycalc(this)">计算</button>
<div style="text-align:center;color:#22b14c;margin-top:10px;">
    <h1 id="strh3"></h1>
</div>

<script src="@Url.Content("~/Assets/md5.js")"></script>
<script type="text/javascript">
    function trycalc(sender) {
        var yourname = $("#yourname").val();
        if (!yourname) {
            alert("请输入你的名字");
            return;
        }

        var othername = $("#othername").val();
        if (!othername) {
            alert("请输入TA的名字");
            return;
        }

        var yournum = getnumfrommd5str(yourname);
        var othernum = getnumfrommd5str(othername);
        var fatenum = yournum + othernum;

        var html = yourname + " 和 " + othername + " 的缘分为：" + fatenum;
        $("#strh3").html(html);
    }

    function getnumfrommd5str(str) {
        var numrgx = /^[0-9]$/;
        var md5str = hex_md5(str);
        var sb = "";
        for (var i = 0; i < md5str.length; i++) {
            var ch = md5str[i];
            if (numrgx.test(ch)) {
                sb += ch;
            }
        }

        var tempstr = sb;
        if (tempstr.length >= 3) {
            tempstr = tempstr.substr(0, 3);
            if (tempstr != "100") {
                tempstr = tempstr.substr(0, 2);
            }
        }

        return parseInt(tempstr);
    }
</script>
