@{
    Layout = "~/Views/Shared/_AppDetailLayout.cshtml";
    ViewBag.apptypedisplay = "网页小工具";
    ViewBag.apptitle = "深夜报社图片精选";
}

@section styles
{
    <link href="@Url.Content("~/Assets/bootstrap-3.3.5-dist/css/bootstrap.min.css")" rel="stylesheet" />
}

<div class="well" style="color:#22b14c;">
    深夜报社图片精选，图片来源于用户上传。
</div>
<button onclick="linkto('http://food.uimoe.com', 'newtab')" class="btn btn-success">点此访问</button>