@{
    Layout = "~/Views/Shared/_AppDetailLayout.cshtml";
    ViewBag.apptypedisplay = "网页小工具";
    ViewBag.apptitle = "随机数字生成";
}

@section styles
{
    <link href="@Url.Content("~/Assets/bootstrap-3.3.5-dist/css/bootstrap.min.css")" rel="stylesheet" />
}

<form id="form1">
    <div class="form-group">
        <label style="color:#22b14c;" for="min">最小值</label>
        <input class="form-control" id="min" name="min" type="text" data-regex="^[0-9]{1,8}$" data-description="请输入1-10^8的整数" />
    </div>
    <div class="form-group">
        <label style="color:#22b14c;" for="max">最大值</label>
        <input class="form-control" id="max" name="max" type="text" data-regex="^[0-9]{1,8}$" data-description="请输入1-10^8的整数" />
    </div>
</form>
<button class="btn btn-success btn-block" onclick="trygetrandnum(this)">生成</button>
<div style="text-align:center;color:#22b14c;margin-top:10px;">
    <h1 id="strh3"></h1>
</div>

<script type="text/javascript">
    function trygetrandnum(sender) {
        var min = $("#min").val();
        if (!min || isNaN(min)) {
            alert("请设置最小值（只能填写数字）");
            return;
        }

        var max = $("#max").val();
        if (!max || isNaN(max)) {
            alert("请设置最大值（只能填写数字）");
            return;
        }

        min = parseInt(min);
        max = parseInt(max);

        if (min > max) {
            alert("最小值不能大于最大值");
            return;
        }

        var less = max - min;
        var randnum = Math.ceil(Math.random() * less + min);

        $("#strh3").html(randnum);
    }
</script>
