@{
    Layout = "~/Views/Shared/_AppDetailLayout.cshtml";
    ViewBag.apptypedisplay = "微信公众号";
    ViewBag.apptitle = "哈哈MX精选";
}

@section styles
{
    <link href="@Url.Content("~/Assets/bootstrap-3.3.5-dist/css/bootstrap.min.css")" rel="stylesheet" />
}

<div class="well" style="color:#22b14c;">
    哈哈MX精选。手机好笑的事情，来源于傲游哈哈。
</div>
<button class="btn btn-success">打开微信，关注公众号：haha_mx_collection</button>
