@{
    Layout = "~/Views/Shared/_AppDetailLayout.cshtml";
    ViewBag.apptypedisplay = "Android应用";
    ViewBag.apptitle = "NASA图片精选";
}

@section styles
{
    <link href="@Url.Content("~/Assets/bootstrap-3.3.5-dist/css/bootstrap.min.css")" rel="stylesheet" />
}

<div class="well" style="color:#22b14c;">
    NASA图片精选，图片来源于微博NASA中文。
</div>
<button onclick="javascript:alert('很抱歉，此应用暂时不可用')" class="btn btn-success">点此下载</button>