@{
    Layout = "~/Views/Shared/_AppDetailLayout.cshtml";
    ViewBag.apptypedisplay = "Windows应用";
    ViewBag.apptitle = "Sql转Model";
}

@section styles
{
    <link href="@Url.Content("~/Assets/bootstrap-3.3.5-dist/css/bootstrap.min.css")" rel="stylesheet" />
}

<div class="well" style="color:#22b14c;">
    Sql转Model，读取数据库中的表，转换成Model。
</div>
<div class="line">应用介绍</div>
<div class="splitter-d"></div>
<div class="line">先打开SqlToModel.exe.config，配置DefaultConnection的数据库连接</div>
<div class="line">输入Model的命名空间后按Enter就可以生成.cs文件了，保存在桌面</div>
<div class="line">疑问解答</div>
<div class="splitter-d"></div>
<div class="line" style="height:64px;">如果不能运行，请安装.NET Framework 4.5。下载地址请百度或访问：<a target="_blank" href="https://.com/zh-cn/download/details.aspx?id=30653">https://www.microsoft.com/zh-cn/download/details.aspx?id=30653</a></div>
<div class="line">如果有其他疑问，可以微博私信：<a target="_blank" href="http://weibo.com/429755025">http://weibo.com/429755025</a></div>
<div class="line">应用截图</div>
<div class="splitter-d"></div>
<div class="newline"></div>
<img style="max-width:100%;" src="@Url.Content("~/Assets/Images/SqlToModel1.jpg")" />
<div class="newline"></div>
<div class="line">最近更新</div>
<div class="splitter-d"></div>
<div class="line">2016年9月6日</div>
<div class="newline"></div>
<button onclick="linkto('@Url.Content("~/Assets/Files/SqlToModel.rar")')" class="btn btn-success">点此下载</button>