@{
    Layout = "~/Views/Shared/_AppDetailLayout.cshtml";
    ViewBag.apptypedisplay = "网页小工具";
    ViewBag.apptitle = "URL编码";
}

@section styles
{
    <link href="@Url.Content("~/Assets/bootstrap-3.3.5-dist/css/bootstrap.min.css")" rel="stylesheet" />
}

<form id="form1">
    <div class="form-group">
        <label style="color:#22b14c;" for="yourinput">要编码的URL</label>
        <input class="form-control" id="yourinput" name="yourinput" type="text" maxlength="255" placeholder="最多可以输入255个字符" />
    </div>
</form>
<button class="btn btn-success btn-block" onclick="trycalc(this)">编码</button>
<div style="text-align:center;color:#22b14c;margin-top:10px;">
    <h2 id="strh3"></h2>
</div>

<script type="text/javascript">
    function trycalc(sender) {
        var yourinput = $("#yourinput").val();
        if (!yourinput) {
            alert("请输入要编码的字符");
            return;
        }

        var enstr = encodeURI(yourinput);
        $("#strh3").html(enstr);
    }
</script>
