@{
    ViewBag.Title = "吃！";
}

@section styles
{
    <style type="text/css">
        .ul1 {
            list-style: none;
            display: inline;
        }

            .ul1 li {
                float: left;
                width: 250px;
                margin-right: 5px;
                margin-bottom: 5px;
            }

                .ul1 li:hover {
                    background-color: #f0f0f0;
                    cursor: pointer;
                }
    </style>
}

<div id="container1"></div>

@section scripts
{
    <script>
        $(function () {
            loaddata();
        });

        function loaddata(sender, page, pagesize, url) {
            if (!url) {
                url = '@Url.Content("~/Home/GetIndex")';
            }

            if (!page || isNaN(page)) {
                page = 1;
            }

            if (!pagesize || isNaN(pagesize)) {
                pagesize = 10;
            }

            $.ajax({
                type: 'GET',
                url: url,
                data: { page: page, pagesize: pagesize },
                complete: function (xhr, status) {
                    if (status != "success") {
                        return;
                    }

                    $("#container1").html(xhr.responseText);
                }
            });
        }
    </script>
}
