@{
    Layout = null;
}

<div class="block">
    <div style="height:12px;width:100%;"></div>
    <div style="font-size:28px;">关于我们</div>
    <div style="height:12px;border-bottom:1px solid #fff;"></div>
    <div style="height:12px;width:100%;"></div>
    <div style="color:#555;line-height:22px;">
        允悠科技（ZEN）在2016年4月成立于上海浦东，前身为苏州创动智能科技有限公司工业传感器事业部。公司以LORA/4G通讯技术为基础，融合低功耗蓝牙、GPS定位、MEMS传感器与移动互联网云服务等技术，深耕医用物联网领域，致力成为世界一流的物联网终端设备生产和系统集成服务提供商，以创新的O2O商业模式推动物联网在医疗及城市建设领域的应用与推广，使科技于点滴处服务并改变生活。
    </div>
</div>

