@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="@Url.Content("~/Assets/weui.css")" rel="stylesheet" />
}

<div class="newline5"></div>
<div style="text-align:center;">
    <div><span style="color:#00a2e8;font-size:28px;">棱境</span></div>
    <div style="color:#00a2e8;">design &amp; develop</div>
</div>
<div class="newline5"></div>
<div style="width:100%;min-width:360px;margin:0 auto;">
    @RenderBody()
</div>

<div style="position:fixed;bottom:0;border-top:1px solid #d5d5d5;background-color:#f0f0f0;width:100%;text-align:center;">
    <div style="height:32px;line-height:32px;">
        <a href="http://www.uimoe.com" target="_blank">uimoe design</a> all rights reserved.
        <a href="http://www.miitbeian.gov.cn" target="_blank">赣ICP备16000344号</a>
    </div>
</div>
