@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="@Url.Content("~/Assets/weui.css")" rel="stylesheet" />
}

<div class="newline5"></div>
<div style="text-align:center;">
    <div><span style="color:#00a2e8;font-size:28px;">棱境</span></div>
    <div style="color:#00a2e8;">design &amp; develop</div>
</div>
<div class="newline5"></div>
<div style="width:100%;min-width:360px;margin:0 auto;">
    @RenderBody()
</div>
