@{
    ViewBag.Title = "添加词汇";
}

<div style="padding:10px;color:#22b14c;">
    <form class="form" id="form1">
        <label>普通话</label>&nbsp;<a href="javascript:void(0);" onclick="view.query(this)">查询</a><br />
        <input class="input" type="text" id="chntext" name="chntext" value="@ViewBag.chntext" /><br />
        <label>粤语</label><br />
        <input class="input" type="text" id="cantext" name="cantext" /><br />
        <label>注音</label><br />
        <input class="input" type="text" id="canpronounce" name="canpronounce" /><br />
        <label>文件</label><br />
        <input class="input" type="text" id="canvoice" name="canvoice" /><br />
    </form>
    <button class="button" onclick="view.addvocabulary(this)">添加</button>
    <button class="button-reverse" onclick="top.closedialog(this)">关闭</button>
</div>

<script type="text/javascript">
    $(function () {
        top.resizedialog(null, 290, 320);
    })

    var view = {
        query: function (sender) {
            var chntext = '@ViewBag.chntext';
            $(sender).attr("disabled", "disabled");

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Reimu/GetVocabularyRef")',
                data: $("#form1").serialize(),
                complete: function (xhr, status) {
                    $(sender).removeAttr("disabled");

                    if (status != "success") {
                        alert("操作失败，请稍后再试");
                        return;
                    }

                    var response = {};

                    try {
                        response = JSON.parse(xhr.responseText);
                    }
                    catch (e) {
                        alert("操作失败，请稍后再试");
                        return;
                    }

                    if (!response || response.error != 0) {
                        alert("操作失败，请稍后再试");
                        return;
                    }

                    $("#cantext").val(response.message);
                }
            });
        },
        addvocabulary: function (sender) {
            $(sender).attr("disabled", "disabled");

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Reimu/AddVocabulary")',
                data: $("#form1").serialize(),
                complete: function (xhr, status) {
                    $(sender).removeAttr("disabled");

                    if (status != "success") {
                        alert("操作失败，请稍后再试");
                        return;
                    }

                    var response = {};

                    try {
                        response = JSON.parse(xhr.responseText);
                    }
                    catch (e) {
                        alert("操作失败，请稍后再试");
                        return;
                    }

                    if (!response || response.error != 0) {
                        alert("操作失败，请稍后再试");
                        return;
                    }

                    top.closedialog(sender);
                    top.reloadview();
                }
            });
        }
    };
</script>