@model Agile.Dtos.API.H10013Response
@{
    Layout = "~/Views/Shared/_WithFrameLayout.cshtml";
}

<div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="javascript:void(0)">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="color:#22b14c;">应用列表</p>
        </div>
        <div class="weui_cell_ft">
        </div>
    </a>
    @if (Model.data == null || Model.data.Count == 0)
    {
        <a class="weui_cell" href="javascript:void(0)">
            <div class="weui_cell_bd weui_cell_primary">
                <p>未找到相关记录</p>
            </div>
            <div class="weui_cell_ft">
            </div>
        </a>
    }
    else
    {
        foreach (var item in Model.data)
        {
            <a class="weui_cell" href="javascript:void(0)" onclick="openlink('@item.href')">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>@item.title</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        }
    }
</div>

@if (Model.data != null && Model.data.Any())
{
    <div class="weui_btn_area">
        <a onclick="changeapplist()" class="weui_btn weui_btn_primary" href="javascript:void(0);">换一批</a>
    </div>
}

<script type="text/javascript">
    function openlink(link) {
        if (link && link.indexOf("http://") >= 0) {
            linkto(link, 'newtab');
            return;
        }

        var url = '@Url.Content("~/")' + 'Assets/Htmls/' + link;
        linkto(url, 'newtab');
    }

    function changeapplist() {
        window.location.reload();
    }
</script>
