@model Agile.API.Dtos.H10013Response
@{
    Layout = "~/Views/Shared/_WithFrameLayout.cshtml";
}

@if (Model.data != null && Model.data.Any())
{
    <div>
        <div class="newline"></div>
        <div>
            <div style="float:left;color:#22b14c;">
                网页小工具
            </div>
            <div style="float:right;">
                <a onclick="changeapplist()" href="javascript:void(0);">换一批</a>&nbsp;&nbsp;<span style="color:#d5d5d5;">|</span>&nbsp;
                <a onclick="changeapplist()" href="javascript:void(0);">全部</a>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="newline"></div>
        <div class="splitter-d"></div>
    </div>
    foreach (var item in Model.data)
    {
        <div class="newline"></div>
        <div style="background-color:#f7f7fa;padding:10px;">
            <div style="color:#22b14c;">@item.title</div>
            <a href="javascript:void(0);" onclick="openlink('@item.href')">@item.href</a>
        </div>
    }
}

<script type="text/javascript">
    function openlink(link) {
        if (link && link.indexOf("http://") >= 0) {
            linkto(link, 'newtab');
            return;
        }

        var url = '@Url.Content("~/")' + 'Assets/Htmls/' + link;
        linkto(url, 'newtab');
    }

    function changeapplist() {
        window.location.reload();
    }
</script>
