* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.listitem {
    background-color: #fff;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: #1c1c20;
    border: 0;
    padding: 5px;
    color: #fff;
}

    .button :hover {
        opacity: 0.8;
    }

.strech {
    width: 100%;
}

.mask, .imagediv {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.mask {
    background-color: #000;
    opacity: 0.8;
    z-index: 10010;
}

.imagediv {
    text-align: center;
    z-index: 10020;
}
