@model Agile.Dtos.API.H10058Response
@{
    Layout = null;
}

@if (Model.data.RecordList.Any())
{
    foreach (var item in Model.data.RecordList)
    {
        <div class="listitem">
            <div style="padding:5px;">@item.content</div>
            @if (!string.IsNullOrEmpty(item.pictureurl))
            {
                <img src="@item.pictureurl" style="max-width:100%;padding:5px;" />
            }
        </div>
    }
}
else
{
    <div class="listitem">
        <div style="height:5px;width:100%;"></div>
        <div>什么都没有呢</div>
        <div style="height:5px;width:100%;"></div>
    </div>
}

