@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<button class="button strech" onclick="view.hotlist.show();" style="">加载更多</button>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            view.showhighlight('appbaritem1');
            view.hotlist.show();
        });
    </script>
}