@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<button class="button strech" onclick="view.newlist.show();">加载更多</button>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            view.showhighlight('appbaritem2');
            view.newlist.show();
        });
    </script>
}