@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .loading {
        background: url(@Url.Content("~/Assets/loading.gif"));
        display: inline-block;
        height: 15px;
        width: 15px;
    }
</style>

<nav class="navbar navbar-default">
    <div style="width:400px;margin:0 auto;">
        <div style="float:left;">
            <a class="navbar-brand" href="@Url.Content("~/Home/Index")">NASA图片精选</a>
        </div>
        <div style="float:right;">
            <a class="navbar-brand" href="javascript:void(0);" onclick="showusertab()">投稿</a>
            <a class="navbar-brand" target="_blank" href="http://weibo.com/ssitmo">微博</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</nav>

@RenderBody()

<div style="height:40px;width:100%;"></div>
<div style="position:fixed;bottom:0;border-top:1px solid #d5d5d5;background-color:#f0f0f0;width:100%;">
    <div style="text-align:center;height:32px;line-height:32px;width:400px;margin:0 auto;">
        <a target="_blank" href="http://www.uimoe.com">uimoe design</a> all rights reserved.
        <a target="_blank" href="http://www.miitbeian.gov.cn">赣ICP备16000344号</a>
    </div>
</div>