@model IEnumerable<string>
@{
    ViewBag.Title = "表";
}

<div class="form-group">
    <label>选择表</label>
    <select id="tableselect" class="form-control">
        @foreach (var name in Model)
        {
            <option value="@name">@name</option>
        }
    </select>
</div>
<input class="btn btn-success" type="button" value="查询" onclick="trygetitemlist(this)" />
<input class="btn btn-default" type="button" value="新增" onclick="tryinsert(this)" />
<div style="height:10px;width:100%;"></div>
